<div class="container">
  <div class="col-md-3 col-md-offset-4 text-center">
    <div class="alert alert-danger" role="alert" ng-show="error">
      <ul>
        <li ng-repeat="error in error.full_messages">{{error}}</li>
      </ul>
    </div>
    <form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}" autocomplete="false">

      <div class="form-group">
        <label for="first_name">First name</label>
        <input type="text"
               name="first_name"
               id="first_name"
               ng-model="registrationForm.first_name"
               required="required"
               class="form-control">
      </div>

      <div class="form-group">
        <label for="last_name">Last name</label>
        <input type="text"
               name="last_name"
               id="last_name"
               ng-model="registrationForm.last_name"
               required="required"
               class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               name="email"
               id="email"
               ng-model="registrationForm.email"
               required="required"
               class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               name="password"
               id="password"
               ng-model="registrationForm.password"
               required="required"
               class="form-control">
      </div>

      <div class="form-group">
        <label for="password_confirmation">Password confirmation</label>
        <input type="password"
               name="password_confirmation"
               id="password_confirmation"
               ng-model="registrationForm.password_confirmation"
               required="required"
               class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>

