<div class="form-group" ng-class="{ 'has-error' : form.tournamentName.$invalid }">
  <label for="tournamentName">Название</label>
  <input type="text"
         class="form-control"
         id="tournamentName"
         name="tournamentName"
         ng-model="tournament.name"
         ng-value="tournament.name"
         ng-minlength="10"
         ng-maxlength="50"
         required>
  <span class="help-block" ng-show="form.tournamentName.$invalid">Обязательное поле, должно содержать 10-50 символов</span>
</div>
<div class="form-group">
  <label for="tournamentType">Статус</label>
  <!--<input type="text"-->
  <!--class="form-control"-->
  <!--id="tournamentType"-->
  <!--name="tournamentType"-->
  <!--placeholder="status"-->
  <!--ng-model="tournament.type"-->
  <!--ng-value="tournament.type"-->
  <!--required>-->
  <select name="tournamentType"
          id="tournamentType"
          class="form-control"
          ng-model="tournament.tourn_type"
  >
    <option value="current">текущий</option>
    <option value="finished">закончен</option>
    <option value="not started">не начат</option>

  </select>
</div>
<div class="form-group" ng-class="{ 'has-error' : form.tournamentPlace.$invalid }">
  <label for="tournamentPlace">Место</label>
  <input type="text"
         class="form-control"
         id="tournamentPlace"
         name="tournamentPlace"
         ng-model="tournament.place"
         ng-value="tournament.place"
         required>
  <span class="help-block" ng-show="form.tournamentPlace.$invalid">Required</span>
</div>
<div class="form-group" ng-class="{ 'has-error' : form.tournamentDatetime.$invalid }">
  <label for="tournamentDatetime">Дата/Время</label>
  <input type="text"
         class="form-control"
         id="tournamentDatetime"
         name="tournamentDatetime"
         ng-model="tournament.datetime"
         ng-value="tournament.datetime" date-time-picker=""
         required>
  <span class="help-block" ng-show="form.tournamentDatetime.$invalid">Required</span>
</div>
